
# common ml packages
torch>=2.0.0
torchvision
transformers
scikit-learn
xgboost
keras
scipy
numpy
pandas
matplotlib
seaborn
tqdm
kaggle
# tensorrt

# llm
openai
anthropic
langchain
sentencepiece
spacy
nltk
sacrebleu
rouge-score
peft
accelerate
evaluate
vertaxai


#others
cchardet
pytest
dacite
